<h3>Results</h3>

<div>
    <a href="page1">
        <h3>User Base:</h3>
    </a>
    {{ ux2data.userbasetext1 }}
    
    <a href="page2">
        <h3>Needfinding:</h3>
    </a>
    {{ ux2data.needfindtext1 }}
    {{ ux2data.needfindtext2 }}
    {{ ux2data.needfindtext3 }}
    {{ ux2data.needfindtext4 }}
    {{ ux2data.needfindtext5 }}
    {{ ux2data.needfindtext6 }}
    {{ ux2data.needfindtext7 }}
    {{ ux2data.needfindtext8 }}
    {{ ux2data.needfindtext9 }}
    {{ ux2data.needfindtext10 }}
    
    <a href="page3">
        <h3>Point of View:</h3>
    </a>
    {{ ux2data.povform1 }}
    
    <a href="page4">
        <h3>Ideation:</h3>
    </a>
    {{ ux2data.ideatext1 }}
    {{ ux2data.ideatext2 }}
    {{ ux2data.ideatext3 }}
    {{ ux2data.ideatext4 }}
    {{ ux2data.ideatext5 }}
    {{ ux2data.ideatext6 }}
    {{ ux2data.ideatext7 }}
    {{ ux2data.ideatext8 }}
    {{ ux2data.ideatext9 }}
    {{ ux2data.ideatext10 }}
    
    <a href="page5">
        <h3>Inspiration Board:</h3>
    </a>
    {{ ux2data.inspirationtext1 }}
    {{ ux2data.inspirationtext2 }}
    {{ ux2data.inspirationtext3 }}
    
    <a href="page6">
        <h3>Analysis:</h3>
    </a>
    {{ ux2data.analysistext1 }}
    {{ ux2data.analysistext2 }}
    {{ ux2data.analysistext3 }}
    {{ ux2data.analysistext4 }}
    
    <a href="page7">
        <h3>Storyboarding:</h3>
    </a>
    {{ ux2data.storytext1 }}
    {{ ux2data.storytext2 }}
    {{ ux2data.storytext3 }}
</div>

<br>
<div class="final-message">
    <h4>
        Now get off that phone and get a friend to help you test your ideas!
    </h4>
</div>

<br>
<a href="page7" class="btn btn-primary btn-primary-active">Previous Step</a>
<a href="page0" class="btn btn-primary btn-primary-active">Home</a>
