<h3>Step 1: User Base <button onclick="showHint(1)" class="btn-hint">?</button></h3>

<div class="hidden-info" id="hidden-info1">
    <p>
        Your user base is the type of person or persons that your idea is targeted towards.
    </p>
</div>

<p>As Yogi Berra said, you can observe a lot just by watching. Watching how people do things is a great way to learn their goals and values, and come up with design insight. The goal is to help you train your eyes and ears to use the world for inspiration, instead of your own thoughts and opinions. </p>

<button class="btn btn-primary btn-primary-active" id="button-cnt1" onclick="showPage(1)">Continue</button>

<div class="hidden-cnt" id="hidden-cnt1">
    <hr>
    <h4>Develop a Goal</h4>

    <p>
        The first order of business is deciding what you want your app to do.Is it going to be a notetaking tool? Is it going to help people budget their finances? Is it going to be a music player/chat service?
    </p>

    <p>Jot down a few ideas for what the overall goal of your app might be.</p>

    <form id="userbaseform">
    	<textarea cols="30" rows="12" id="userbasetext1">{{ ux2data.userbasetext1 }}</textarea>
	</form>

    <button class="btn btn-primary btn-primary-active" id="button-cnt2" onclick="showPage(2)">Continue</button>
</div>

<div class="hidden-cnt" id="hidden-cnt2">
    <hr>
    <h4>Pick an Activity</h4>

    <p>
        Now that you have a goal in mind, think of a few everyday activities or situations related to that goal. How do people currently accomplish the goal your app is related to? In what situations might your app be useful?
    </p>

    <p>List 3 of these activities/situations.</p>

    <form id="userbaseform">
    	<textarea cols="30" rows="4" id="userbasetext2">{{ ux2data.userbasetext2 }}</textarea>
	</form>

	<form id="userbaseform">
    	<textarea cols="30" rows="4" id="userbasetext3">{{ ux2data.userbasetext3 }}</textarea>
	</form>

	<form id="userbaseform">
    	<textarea cols="30" rows="4" id="userbasetext4">{{ ux2data.userbasetext4 }}</textarea>
	</form>

    <button class="btn btn-primary btn-primary-active" id="button-cnt3" onclick="showPage(3)">Continue</button>
</div>

<div class="hidden-cnt" id="hidden-cnt3">
    <hr>
    <h4>Observe</h4>

    <p>
        Choose one of the activities above and ask someone to complete that activity as realistically as possible while you watch. The goal is to observe that person and figure out where they succeeded, where they had trouble, and where the situation can be improved.
    </p>

    <br>
    <h4>Video Example</h4>

    <div class="videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/MjSNWhjDvQU" frameborder="0" allowfullscreen></iframe>
	</div>

	<br>
    <p>Jot down your observations below.</p>

    <form id="userbaseform">
    	<textarea cols="30" rows="12" id="userbasetext5">{{ ux2data.userbasetext5 }}</textarea>
	</form>
	
    <a href="page0" class="btn btn-primary btn-primary-active">Previous Step</a>
	<button class="btn btn-primary btn-primary-active" onclick='upData("userbasetext", 5, "page2")'>Next Step</button>
</div>


<!----------------------------------- Screen Overlay ---------------------------------->

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page1" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">1<br>USER BASE</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page2" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">2<br>NEEDFINDING</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6"> </div>
                <div class="col-xs-6">
                    <a href="page3" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">3<br>POINT OF VIEW</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page5" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">5<br>INSPIRATIONS</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page4" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">4<br>IDEATION</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page6" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">6<br>ANALYSIS</div>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page7" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">7<br>STORYBOARDING</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page8" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">8<br>RESULTS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

