<h3>Step 5: Inspirations <button onclick="showHint(1)" class="btn-hint">?</button></h3>

<div class="hidden-info" id="hidden-info1">
    <p>
        An inspiration board is a collage of images used to offer different perspectives to the design you are working on.
    </p>
</div>


<p>
    Now that you have a more concrete idea of your app’s overall goal, it is time to start brainstorming specific designs and features that you want to incorporate. Look to existing applications, artifacts, products, services, or anything that relates to your concept. 
</p>

<br>
<a href="https://drive.google.com/file/d/0B8gHvDXzjT0vMEZTSU1OUjA0dlk/view?usp=sharing" target="_blank" class="btn btn-primary btn-primary-active">Examples</a>
<br>
<br>

<p>
    Choose three inspirations to list below. Give a short explanation for why you chose each one and include a link for each so you can reference them later.
</p>

<form id="inspirationform">
    <textarea cols="30" rows="1" id="inspirationtext1">{{ ux2data.inspirationtext1 }}</textarea>
    <textarea cols="30" rows="4" id="inspirationtext2">{{ ux2data.inspirationtext2 }}</textarea>
    <br><br>
    <textarea cols="30" rows="1" id="inspirationtext3">{{ ux2data.inspirationtext3 }}</textarea>
    <textarea cols="30" rows="4" id="inspirationtext4">{{ ux2data.inspirationtext4 }}</textarea>
    <br><br>
    <textarea cols="30" rows="1" id="inspirationtext5">{{ ux2data.inspirationtext5 }}</textarea>
    <textarea cols="30" rows="4" id="inspirationtext6">{{ ux2data.inspirationtext6 }}</textarea>
</form>

<a href="page4" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("inspirationtext", 6, "page6")'>Next Step</button>
