<h3>Results</h3>

<p>
    Use the ideas you generated here to begin drawing out your storyboards and building your paper prototypes. Good luck! 
</p>

<div>
    <button class="accordion">
        <h3>User Base:</h3>
    </button>
    <div class="panel">
        <p>Overall Goal of Your App</p>
        {{ ux2data.userbasetext1 }}
        <br>
        <p>Activity 1</p>
        {{ ux2data.userbasetext2 }}
        <br>
        <p>Activity 2</p>
        {{ ux2data.userbasetext3 }}
        <br>
        <p>Activity 3</p>
        {{ ux2data.userbasetext4 }}
        <br>
        <p>Observations</p>
        {{ ux2data.userbasetext5 }}
    </div>

    <button class="accordion">
        <h3>Needfinding:</h3>
    </button>
    <div class="panel">
        1. {{ ux2data.needfindtext1 }} <br>
        2. {{ ux2data.needfindtext2 }} <br>
        3. {{ ux2data.needfindtext3 }} <br>
        4. {{ ux2data.needfindtext4 }} <br>
        5. {{ ux2data.needfindtext5 }} <br>
        6. {{ ux2data.needfindtext6 }} <br>
        7. {{ ux2data.needfindtext7 }} <br>
        8. {{ ux2data.needfindtext8 }} <br>
        9. {{ ux2data.needfindtext9 }} <br>
        10. {{ ux2data.needfindtext10 }} <br>
    </div>
    
    <button class="accordion">
        <h3>Point of View:</h3>
    </button>
    <div class="panel">
        {{ ux2data.povform1 }}
    </div>

    <button class="accordion">
        <h3>Ideation:</h3>
    </button>
    <div class="panel">
        1. {{ ux2data.ideatext1 }} <br>
        2. {{ ux2data.ideatext2 }} <br>
        3. {{ ux2data.ideatext3 }} <br>
        4. {{ ux2data.ideatext4 }} <br>
        5. {{ ux2data.ideatext5 }} <br>
        6. {{ ux2data.ideatext6 }} <br>
        7. {{ ux2data.ideatext7 }} <br>
        8. {{ ux2data.ideatext8 }} <br>
        9. {{ ux2data.ideatext9 }} <br>
        10. {{ ux2data.ideatext10 }} <br>
    </div>
    
    <button class="accordion">
        <h3>Inspiration Board:</h3>
    </button>
    <div class="panel">
        <p>Inspiration 1</p>
        {{ ux2data.inspirationtext1 }}
        {{ ux2data.inspirationtext2 }}
        <br>
        <p>Inspiration 2</p>
        {{ ux2data.inspirationtext3 }}
        {{ ux2data.inspirationtext4 }}
        <br>
        <p>Inspiration 3</p>
        {{ ux2data.inspirationtext5 }}
        {{ ux2data.inspirationtext6 }}
    </div>
    
    <button class="accordion">
        <h3>Analysis:</h3>
    </button>
    <div class="panel">
        <p>Features of Inspiration 1</p>
        {{ ux2data.analysistext1 }}
        <br>
        <p>Features of Inspiration 2</p>
        {{ ux2data.analysistext2 }}
        <br>
        <p>Features of Inspiration 3</p>
        {{ ux2data.analysistext3 }}
        <br>
        <p>Potential Features of your App</p>
        {{ ux2data.analysistext4 }}
    </div>
    
    <button class="accordion">
        <h3>Storyboarding:</h3>
    </button>
    <div class="panel">
        <p>Plan for Storyboard 1</p>
        {{ ux2data.storytext1 }}
        <br>
        <p>Plan for Storyboard 2</p>
        {{ ux2data.storytext2 }}
        <br>
        <p>Plan for Storyboard 3</p>
        {{ ux2data.storytext3 }}
    </div>
</div>

<br>
<div class="final-message">
    <h4>
        Interested in learning more about the entire UX design process? Visit the sites below!
    </h4>

    <a href="https://www.careerfoundry.com/en/blog/ux-design/the-ux-design-process-an-actionable-guide-to-your-first-job-in-ux/" target="_blank" class="btn btn-primary btn-primary-active">Site 1</a>
    <a href="https://uxstudioteam.com/ux-blog/ux-design-process-steps/" target="_blank" class="btn btn-primary btn-primary-active">Site 2</a>
</div>
