<h3>Congratulations, you finished! :D</h3>

<div>
    <img style="max-width: 90%" src="/img/cookie.png" onclick="cookieClick()"></img>
</div>

<h5>Want to reference the data you inputted?</h5>
<h5>Click on the cookie to have your data output below!</h5>
<hr>

<div id="hidden-info" style="visibility: hidden">
    <a href="page1">
        <h2>User Base:</h2>
    </a>
    {{ ux2data.userbasetext1 }}
    
    <a href="page2">
        <h2>Needfinding:</h2>
    </a>
    {{ ux2data.needfindtext1 }}
    {{ ux2data.needfindtext2 }}
    {{ ux2data.needfindtext3 }}
    {{ ux2data.needfindtext4 }}
    {{ ux2data.needfindtext5 }}
    {{ ux2data.needfindtext6 }}
    {{ ux2data.needfindtext7 }}
    {{ ux2data.needfindtext8 }}
    {{ ux2data.needfindtext9 }}
    {{ ux2data.needfindtext10 }}
    
    <a href="page3">
        <h2>Point of View:</h2>
    </a>
    {{ ux2data.povform1 }}
    
    <a href="page4">
        <h2>Ideation:</h2>
    </a>
    {{ ux2data.ideatext1 }}
    {{ ux2data.ideatext2 }}
    {{ ux2data.ideatext3 }}
    {{ ux2data.ideatext4 }}
    {{ ux2data.ideatext5 }}
    {{ ux2data.ideatext6 }}
    {{ ux2data.ideatext7 }}
    {{ ux2data.ideatext8 }}
    {{ ux2data.ideatext9 }}
    {{ ux2data.ideatext10 }}
    
    <a href="page5">
        <h2>Inspiration Board:</h2>
    </a>
    {{ ux2data.inspirationtext1 }}
    {{ ux2data.inspirationtext2 }}
    {{ ux2data.inspirationtext3 }}
    
    <a href="page6">
        <h2>Analysis:</h2>
    </a>
    {{ ux2data.analysistext1 }}
    {{ ux2data.analysistext2 }}
    {{ ux2data.analysistext3 }}
    {{ ux2data.analysistext4 }}
    
    <a href="page7">
        <h2>Storyboarding:</h2>
    </a>
    {{ ux2data.storytext1 }}
    {{ ux2data.storytext2 }}
    {{ ux2data.storytext3 }}
</div>
