<h3>Step 4: Ideation <button onclick="showHint(1)" class="btn-hint">?</button></h3>

<div class="hidden-info" id="hidden-info1">
    <p>
        Ideation is the creative process of generating, developing, and communicating new ideas.
    </p>
</div>

<p>
    The next step is to brainstorm a few words that relate to your design idea or point of view. These words can be anything - from similar designs to feelings that the idea invokes. Your words should relate to good design decisions, such as "sleek," "minimalistic," or "easy-to-use." 
</p>

<br>
<a href="https://www.interaction-design.org/literature/article/what-is-ideation" target="_blank" class="btn btn-primary btn-primary-active">Learn More</a>
<br>
<br>

<p>Write down 5-10 words below.</p>

<form>
    <input type="text" id="ideatext1" value="{{ ux2data.ideatext1 }}"></input><br>
    <input type="text" id="ideatext2" value="{{ ux2data.ideatext2 }}"></input><br>
    <input type="text" id="ideatext3" value="{{ ux2data.ideatext3 }}"></input><br>
    <input type="text" id="ideatext4" value="{{ ux2data.ideatext4 }}"></input><br>
    <input type="text" id="ideatext5" value="{{ ux2data.ideatext5 }}"></input><br>
    <input type="text" id="ideatext6" value="{{ ux2data.ideatext6 }}"></input><br>
    <input type="text" id="ideatext7" value="{{ ux2data.ideatext7 }}"></input><br>
    <input type="text" id="ideatext8" value="{{ ux2data.ideatext8 }}"></input><br>
    <input type="text" id="ideatext9" value="{{ ux2data.ideatext9 }}"></input><br>
    <input type="text" id="ideatext10" value="{{ ux2data.ideatext10 }}"></input><br>
</form>
<br>

<a href="page3" class="btn btn-primary btn-primary-active">Previous Step</a>
<button class="btn btn-primary btn-primary-active" onclick='upData("ideatext", 10, "page5")'>Next Step</button>

<!----------------------------------- Screen Overlay ---------------------------------->

<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page1" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">1<br>USER BASE</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page2" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">2<br>NEEDFINDING</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6"> </div>
                <div class="col-xs-6">
                    <a href="page3" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">3<br>POINT OF VIEW</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page5" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">5<br>INSPIRATIONS</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page4" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">4<br>IDEATION</div>
                    </a>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page6" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">6<br>ANALYSIS</div>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-6">
                    <a href="page7" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">7<br>STORYBOARDING</div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="page8" class="btn btn-default btn-block uxbtn">
                        <div class="btncontent">8<br>RESULTS</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
